#carousel.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#carousel', data-slide-to='0')
    //- <li class="video" data-target="#carousel" data-slide-to="1"><img src="img/play.svg" class="img-responsive"></li>
    li(data-target='#carousel', data-slide-to='1')
    li(data-target='#carousel', data-slide-to='2')
    //- li(data-target='#carousel', data-slide-to='3')
  .carousel-inner(role='listbox')
    .item.active
      img(src=D.carousel[0].img, alt=D.carousel[0].message)
      .carousel-caption= D.carousel[0].message
    .item
      img(src=D.carousel[1].img, alt=D.carousel[1].message)
      .carousel-caption= D.carousel[1].message
    .item
      img(src=D.carousel[2].img, alt=D.carousel[2].message)
      .carousel-caption= D.carousel[2].message
