#sinulugu
.formcontent(ng-controller='index')
  #sinulugu-top.container-fluid
    .container
      h2 Saada oma lugu
  #sinulugu-bottom.container-fluid
    .container(ng-if='!send.sending && !send.sent')
      each txt in D.txt.submitStory.text
        p= txt

      form
        .row
          .form-group.col-md-6.col-sm-6.col-xs-12
            textarea.form-control(type='text', ng-model='send.interview.title', placeholder=D.txt.submitStory.form.interviewTitle)
          .form-group.col-md-6.col-sm-6.col-xs-12
            textarea.form-control(type='text', ng-model='send.author.phone', placeholder=D.txt.submitStory.form.authorPhone)
          .form-group.col-md-6.col-sm-6.col-xs-12
            textarea.form-control(type='text', ng-model='send.author.forename', placeholder=D.txt.submitStory.form.authorForename)
          .form-group.col-md-6.col-sm-6.col-xs-12
            textarea.form-control(type='text', ng-model='send.author.email', placeholder=D.txt.submitStory.form.authorEmail)
          .form-group.col-md-12.col-sm-6.col-xs-12
            textarea.form-control(type='text', ng-model='send.storyteller.name', placeholder=D.txt.submitStory.form.storytellerName)
          .form-group.col-md-12.col-sm-6.col-xs-12
            textarea.form-control(type='text', ng-model='send.interview.description', placeholder=D.txt.submitStory.form.interviewDescription)

          .form-group.col-md-12.col-sm-12.col-xs-12
            input.form-control.fileupload.filestyle(type='file', ng-model='send.interview.file', data-input='false', data-buttonname='btn-default', data-buttontext=D.txt.submitStory.form.interviewFile)

          .form-group.col-md-12.col-sm-12.col-xs-12
            textarea.form-control(type='text', ng-model='send.interview.file_description', placeholder=D.txt.submitStory.form.interviewFileDescription)
        p.description= D.txt.submitStory.description
        .form-group.button
          a.btn.btn-primary-outline(ng-click='doFileUpload()', ng-disabled='send.sending')= D.txt.submitStory.form.submit

    .container(ng-if='send.sending')
      .confirmation
        hr
        p= D.txt.submitStory.form.sending
          | (
          span#sending 0.0
          | %)

    .container(ng-if='send.sent')
      .confirmation
        hr
        p
          b= D.txt.submitStory.thankYou
