.navbar-header
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#kml-navbar-collapse', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar
    a.navbar-brand(href='/' + lang)
        img(src='/img/kogumelugu-turquoise.svg')
#kml-navbar-collapse.collapse.navbar-collapse
    ul.nav.navbar-nav
        each m in locale.menu
            li
                a(href=m.link)= m.text
        li.visible-xs.visible-sm
            a(href=locale.menu[0].link)= locale.menu[0].text
        li
    //- ul.nav.navbar-nav
    ul.nav.navbar-nav.navbar-right
        li
            .search
                input(ng-model='sData.query', ng-change='doFilter(false)', type='text', placeholde=locale.filterQuery)
        li
            if !user
                a(href='signin')= locale.signin
            else
                a(href='signin/exit')= locale.exit

        if lang !== 'et'
            li
                a(href='/et' + path.substr(3)) EST
        if lang !== 'en'
            li
                a(href='/en' + path.substr(3)) ENG
        //- if lang !== 'ru'
        //-     li
        //-         a(href='/ru' + path.substr(3)) RUS
