#galleryPush(style='background:#3a3a3c; background-size: cover; padding:0px; _:none')

.container-fluid.content
    .container
        #videoArea.row
            .col-md-8.col-sm-8.col-xs-12
                .firstblock
                    if video.get('videoUrl.value')
                        .videoWrapper
                            if parseInt(video.get('videoUrl.value'), 10).toString() === video.get('videoUrl.value')
                                iframe#video(src='https://player.vimeo.com/video/' + video.get('videoUrl.value') + '#t=' + (jumpTo ? jumpTo : 0) + '?autopause=1&autoplay=1&badge=0&byline=0&loop=0&portrait=0&title=0', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
                            else
                                iframe#video(src='https://www.youtube.com/embed/' + video.get('videoUrl.value') + '?autoplay=1&controls=0&showinfo=0&rel=0', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
                    .videoDescription
                        h1.title= video.get('storyteller.0.value', '')
                        p.title= video.get('title-' + lang + '.value', '')
                    .row
                        .col-md-12
                            p.description
                                if video.get('_definition') === 'interview'
                                    | #{ locale.interviewer }
                                else
                                    | #{ locale.author }
                                br
                                each author in video.get('author', [])
                                    b #{ author.value }
                                    br


                            p.description= video.get('description-' + lang + '.value')

                if chapters
                    .timeline
                        ul
                            each c in chapters
                                li.timecode
                                    a(href='video/' + video.get('_id') + '?time=' + c.get('info'))
                                        b= c.get('name')
                                        |  #{ c.get('info') }
                .keywords
                    ul
                        each category in video.get('curriculumSubjects', [])
                            a(href='video?subject=' + category.value)
                                li.primary= category.value
                        //- a(href='#')
                        //-     li.secondary Generatsioon
                        each storyteller in video.get('storyteller', [])
                            a(href='video?query=' + storyteller.value)
                                li.tertiary= storyteller.value
                        each region in video.get('region', [])
                            a(href='video?region=' + region.value)
                                li.quatenary= region.value
                .lastblock
                    ul.sharebuttons
                        a(href='https://www.facebook.com/sharer/sharer.php?u=' + pageUrl, target='_blank')
                            li
                                img.img-responsive(src='/img/facebook.svg')
                        a(href='http://twitter.com/share?url=' + pageUrl, target='_blank')
                            li
                                img.img-responsive(src='/img/twitter.svg')
                        a(href='https://plus.google.com/share?url=' + pageUrl, target='_blank')
                            li
                                img.img-responsive(src='/img/googleplus.svg')
                        a(href='mailto:?subject=' + video.get('title-' + lang + '.value', '') + '&body=' + pageUrl)
                            li
                                img.img-responsive(src='/img/email.svg')
            .col-md-4.col-sm-4.col-xs-12
                .row.related
                    each r in related
                        if r.get('_id') !== video.get('_id')
                            a(href='video/' + r.get('_id') )
                                .col-md-12.col-sm-12.col-xs-6.video(style="background:url('video/picture?id=" + r.get('videoUrl.value') + "');background-position: center center; background-size:cover;")
                                    .overlay
                                    .wrapper
                                        h4
                                            span= r.get('storyteller.0.value', '')
                                        p= r.get('title-' + lang + '.value', '')
                                        .btn.btn-primary-outline= locale.openVideo
