.container-fluid.content
    .container
        #videoArea.row
            .col-md-8.col-sm-8.col-xs-12
                .firstblock
                    .videoWrapper
                        iframe#video(src=video.get('videoUrl.value'), frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
                        //- .playButtonArea
                        //-     #play-button.btn.btn-primary-outline Vaata lugu
                    .videoDescription
                        h1.title= video.get('title-est.value')
                    .row
                        .col-md-12
                            p.description
                                //- | Intervjuu 2015, Vancouver, Kanada
                                | Intervjueerija
                                br
                                each author in video.get('author')
                                    b #{ author.value }
                                    br

                            p.description= video.get('description-est.value')
                        
                .timeline
                    ul
                        li.timecode
                            a(onclick='changeTime(0);', href='#')
                                b Nõukogude okupatsioon Eestis 1940-1941
                                |  0:00-0:20
                        li.timecode
                            a(onclick='changeTime(20);', href='#')
                                b Saksa okupatsioon Eestis 1941-1944
                                |  0:20-0:40
                        li.timecode
                            a(onclick='changeTime(40);', href='#')
                                b Omakaitse
                                |  0:40-1:00
                        li.timecode
                            a(onclick='changeTime(60);', href='#')
                                b UNNRA
                                |  1:00-1:20
                        li.timecode
                            a(onclick='changeTime(80);', href='#')
                                b DP-laagrid
                                |  1:20-3:00
                .keywords
                    ul
                        each category in video.get('curriculumSubjects')
                            a(href='#')
                                li.primary= category.value
                        a(href='#')
                            li.secondary Generatsioon
                        a(href='#')
                            li.tertiary Seotud Isik
                        a(href='#')
                            li.tertiary Seotud Isik
                        a(href='#')
                            li.tertiary Seotud Isik
                        a(href='#')
                            li.tertiary Seotud Isik
                        each region in video.get('region')
                            a(href='#')
                                li.quatenary= region.value
                .lastblock
                    ul.sharebuttons
                                a(href="https://www.facebook.com/sharer/sharer.php?u=" /* + lehe URL */)
                                    li
                                        img.img-responsive(src='img/facebook.svg')
                                a(href="http://twitter.com/share?url=" /* + lehe URl */)
                                    li
                                        img.img-responsive(src='img/twitter.svg')
                                a(href="https://plus.google.com/share?url=" /* + lehe URl */)
                                    li
                                        img.img-responsive(src='img/googleplus.svg')
                                a(href="mailto:?subject=" + video.get('title-est.value') + "&body=" /* + lehe URl */))
                                    li
                                        img.img-responsive(src='img/email.svg')
            .col-md-4.col-sm-4.col-xs-12
                .row.related
                    //- Esimene võiks olla täpselt sama isiku teine intervjuu osa, kui on, aga kõik teised paneme, millel enim ühiseid märksõnu.
                    a(href='#')
                        .col-md-12.col-sm-12.col-xs-6.video(style="background:url('img/Rutt-Kresling.jpg');background-size:cover;")
                            .overlay
                            .wrapper
                                h4
                                    span Rutt Kresling 17:02
                                p täispikk intervjuu, est/eng
                                .btn.btn-primary-outline Vaata lugu
                    a(href='#')
                        .col-md-12.col-sm-12.col-xs-6.video(style="background:url('img/Laulupidu.jpg');background-size:cover;")
                            .overlay
                            .wrapper
                                h4
                                    span Laulupidu 1:03
                                p videokaadrid
                                .btn.btn-primary-outline Vaata lugu
                    a(href='#')
                        .col-md-12.col-sm-12.col-xs-6.video(style="background:url('img/Eva-Brown.jpg');background-size:cover;")
                            .overlay
                            .wrapper
                                h4
                                    span Eva Brown 12:29
                                p täispikk intervjuu, est/rus
                                .btn.btn-primary-outline Vaata lugu
                    a(href='#')
                        .col-md-12.col-sm-12.col-xs-6.video(style="background:url('img/Eva-Brown.jpg');background-size:cover;")
                            .overlay
                            .wrapper
                                h4
                                    span Eva Brown 12:29
                                p täispikk intervjuu, est/rus
                                .btn.btn-primary-outline Vaata lugu
