.container-fluid.content
    .slider(style='background:#3a3a3c;background-position: center center; background-size: cover;')
    //- Pilt vahetatav UNITASe jaoks
    .subnav
        .row
            .col-md-12.col-sm-12.filters
                .row
                    .col-md-4.col-sm-7.col-xs-6.titleImage
                        img.img-responsive(src='/img/Teek.png')
                    .col-md-4.col-md-offset-4.col-sm-offset-0.col-sm-5.col-xs-6
                        .sort
                            .images
                                .instruction.hidden-xs
                                a.sortby(href='/' + lang)
                                    img.img-responsive(src='/img/kasutaja.svg')
                                a.sortby(href='/' + lang)
                                    img.img-responsive(src='/img/kalender.svg')
                            .text
                                .instruction.hidden-xs Reasta:
                                a.sortby(href='/' + lang) enim vaadatud
                                a.sortby(href='/' + lang) viimati sisestatud
        .row.dropdowns
            .col-md-3.col-sm-3.col-xs-4.topic
                select.form-control(ng-model='sData.subject', ng-change='doFilter(true)', data-field='subject')
                    option.placeholder(selected='')= locale.filterSubject
                    each s in subjects || []
                        option(value=s, ng-selected="sData.subject === '" + s + "'")= s
            .col-md-3.col-sm-3.col-xs-4.area
                select.form-control(ng-model='sData.region', ng-change='doFilter(true)', data-field='region')
                    option.placeholder(selected='')= locale.filterRegion
                    each r in regions || []
                        option(value=r, ng-selected="sData.region === '" + r + "'")= r
            .col-md-3.col-sm-3.col-xs-4.generation
                select.form-control(ng-model='sData.generation', ng-change='doFilter(true)', data-field='generation')
                    option.placeholder(selected='')= locale.filterGeneration
                    each g in generations || []
                        option(value=g, ng-selected="sData.generation === '" + g + "'")= g
            .col-md-3.col-sm-3.col-xs-12.searchcolumn
                .search
                    input(ng-model='sData.query', ng-change='doFilter(false)', type='text', placeholde= locale.filterQuery)
    #galleryPush(style='_:none')
.gallery.container
    .row
        a(ng-repeat-start='v in sData.videos' ng-href='video/{{ v.id }}')
        .col-md-4.col-sm-4.col-xs-12.video(ng-repeat-end style="background:url('video/picture?id={{ v.video }}');background-position: center center; background-size:cover;")
            .overlay
            .wrapper
                h4
                    span {{ v.name }}
                p {{ v.info }}
                a(href='video/{{ v.id }}')
                    .btn.btn-primary-outline= locale.openVideo

        //-
        //- each vGroup in videos
        //-     if vGroup.length === 2
        //-         each v in vGroup
        //-             a(href='video/' + v.get('_id'))
        //-             .col-md-6.col-sm-6.col-xs-12.video(style="background:url('video/picture?id=" + v.get('videoUrl.value') + "');background-position: center center; background-size: cover;")
        //-                 .overlay
        //-                 .wrapper
        //-                     h4
        //-                         span= v.get('_name')
        //-                     p= v.get('_info')
        //-                     a(href='video/' + v.get('_id'))
        //-                         .btn.btn-primary-outline Vaata lugu
        //-
        //-     if vGroup.length === 3
        //-         each v in vGroup
        //-             a(href='video/' + v.get('_id'))
        //-             .col-md-4.col-sm-4.col-xs-12.video(style="background:url('video/picture?id=" + v.get('videoUrl.value') + "');background-position: center center; background-size: cover;")
        //-                 .overlay
        //-                 .wrapper
        //-                     h4
        //-                         span= v.get('_name')
        //-                     p= v.get('_info')
        //-                     a(href='video/' + v.get('_id'))
        //-                         .btn.btn-primary-outline Vaata lugu
        //-     if vGroup.length === 5
        //-         a(href='video/' + vGroup[0].get('_id'))
        //-         .col-md-6.col-sm-6.col-xs-12.video(style="background:url('video/picture?id=" + vGroup[0].get('videoUrl.value') + "');background-position: center center; background-size: cover;")
        //-             .overlay
        //-             .wrapper
        //-                 h4
        //-                     span= vGroup[0].get('_name')
        //-                 p= vGroup[0].get('_info')
        //-                 a(href='video/' + vGroup[0].get('_id'))
        //-                     .btn.btn-primary-outline Vaata lugu
        //-         each v in vGroup.slice(1)
        //-             a(href='video/' + v.get('_id'))
        //-             .col-md-3.col-sm-3.col-xs-6.video(style="background:url('video/picture?id=" + v.get('videoUrl.value') + "');background-position: center center; background-size: cover;")
        //-                 .overlay
        //-                 .wrapper
        //-                     h4
        //-                         span= v.get('_name')
        //-                     p= v.get('_info')
        //-                     a(href='video/' + v.get('_id'))
        //-                         .btn.btn-primary-outline Vaata lugu

.loadmore
//-     a(href='#').hidden
//-         .btn.btn-primary-outline Kuva rohkem
