extends /layout


block vars
    -
        const getColor = (type = undefined) => {
            const colors = [
                '',
                'u-red',
                'u-purple',
                'u-green',
                'u-orange',
                'u-blue',
            ]

            if (type === 'storyteller') { return colors[0] }
            if (type === 'author') { return colors[4] }
            if (Number(type) >= 0) { return colors[Number(type)]}

            return colors[Math.floor(Math.random() * colors.length)]
        }

        var tags = self.file.tags.filter(a => {
            return !!a['name_' + self.locale]
        }).map(a => {
            a.title = a['name_' + self.locale]
            return a
        })
        tags.sort((a, b) => {
            if (a.title.toLowerCase() < b.title.toLowerCase()) { return -1 }
            if (a.title.toLowerCase() > b.title.toLowerCase()) { return 1 }
            return 0
        })

        var videos_url = self.menu[0].path

        var regions = self.file.regions.filter(a => {
            return !!a['name_' + self.locale]
        }).map(a => {
            a.title = a['name_' + self.locale]
            return a
        })
        regions.sort((a, b) => {
            if (a.title.toLowerCase() < b.title.toLowerCase()) { return -1 }
            if (a.title.toLowerCase() > b.title.toLowerCase()) { return 1 }
            return 0
        })

        var persons = self.file.persons.filter(a => {
            return (a.forename || a.surname)
        }).map(a => {
            a.title = [a.forename, a.surname].join(' ')
            return a
        })
        persons.sort((a, b) => {
            if (a.title.toLowerCase() < b.title.toLowerCase()) { return -1 }
            if (a.title.toLowerCase() > b.title.toLowerCase()) { return 1 }
            return 0
        })


block script
    script.
        $(function () {
            $('.tabs--link').click(function () {
                var id = $(this).attr('href')
                $('.tabs--link').not(this).removeClass('u-active')
                $('.tabs--item').not(id).removeClass('u-open')
                $(this).addClass('u-active')
                $(id).addClass('u-open')
            })
        })


block content
    //- include /searchbox

    main.main.u-container
        article.article
            h1= self.texts.topics.title
            .tabs
                each t in tags.filter((a) => a._parent.length === 0)
                    a.tabs--link.u-active(href='#'+t['name_' + self.locale])= t['name_' + self.locale]

                a.tabs--link.u-active(href='#'+self.texts.topics.subtitles.regions.anchor)= self.texts.topics.subtitles.regions.label
                a.tabs--link.u-active(href='#'+self.texts.topics.subtitles.persons.anchor)= self.texts.topics.subtitles.persons.label

                each ht in tags.filter((a) => a._parent.length === 0)
                    .tabs--item.u-open(id=ht['name_' + self.locale])
                        .tags
                            h2= ht['name_' + self.locale]

                            if ht._childs.length > 0
                                ul.tags--list
                                    each ht2 in tags.filter((a) => a._parent.indexOf(ht._id) >= 0)
                                        if ht2['name_' + self.locale]
                                            li
                                                a(class=getColor(0), href=videos_url + '#' + ht2._id)= ht2['name_' + self.locale]

                                                if ht2._childs.length > 0
                                                    ul.tags--list
                                                        each ht3 in tags.filter((a) => a._parent.indexOf(ht2._id) >= 0)
                                                            if ht3['name_' + self.locale]
                                                                li
                                                                    a(class=getColor(1), href=videos_url + '#' + ht3._id)= ht3['name_' + self.locale]

                                                                    if ht3._childs.length > 0
                                                                        ul.tags--list
                                                                            each ht4 in tags.filter((a) => a._parent.indexOf(ht3._id) >= 0)
                                                                                if ht4['name_' + self.locale]
                                                                                    li
                                                                                        a(class=getColor(2), href=videos_url + '#' + ht4._id)= ht4['name_' + self.locale]

                #regions.tabs--item
                    .tags
                        h2= self.texts.topics.subtitles.regions.label
                        ul.tags--list
                            each hr in regions.filter((a) => a._parent.length === 0)
                                li
                                    a(class=getColor(0), href=videos_url + '#' + hr._id)= hr.title

                                    if hr._childs.length > 0
                                        ul.tags--list
                                            each hr2 in regions.filter((a) => a._parent.indexOf(hr._id) >= 0)
                                                li
                                                    a(class=getColor(1), href=videos_url + '#' + hr2._id)= hr2.title

                                                    if hr2._childs.length > 0
                                                        ul.tags--list
                                                            each hr3 in regions.filter((a) => a._parent.indexOf(hr2._id) >= 0)
                                                                li
                                                                    a(class=getColor(2), href=videos_url + '#' + hr3._id)= hr3.title

                                                                    if hr3._childs.length > 0
                                                                        ul.tags--list
                                                                            each hr4 in regions.filter((a) => a._parent.indexOf(hr3._id) >= 0)
                                                                                li
                                                                                    a(class=getColor(3), href=videos_url + '#' + hr4._id)= hr4.title

                #persons.tabs--item
                    .tags
                        h2= self.texts.topics.subtitles.persons.label
                        ul.tags--list
                            each i in persons
                                if i.title
                                    li
                                        a(class=getColor(i.type), href=videos_url + '#' + i._id)= i.title
