#teemad
.container-fluid.teemad
    h2= locale.topicTree
    .teemadegrid.container
        #teemapuu.row
            a(href='video?subject=' + subjects[0].get('name-' + lang + '.value', ''))
                .teema.col-md-6.lg
                    .front
                        table
                            tr
                                td
                                    h3= subjects[0].get('name-' + lang + '.value', '')
            a(href='video?subject=' + subjects[1].get('name-' + lang + '.value', ''))
                .teema.col-md-3.sm
                    .front
                        table
                            tr
                                td
                                    h3= subjects[1].get('name-' + lang + '.value', '')

            a(href='video?subject=' + subjects[2].get('name-' + lang + '.value', ''))
                .teema.col-md-3.sm
                    .front
                        table
                            tr
                                td
                                    h3= subjects[2].get('name-' + lang + '.value', '')
            a(href='video?subject=' + subjects[3].get('name-' + lang + '.value', ''))
                .teema.col-md-3.sm
                    .front
                        table
                            tr
                                td
                                    h3= subjects[3].get('name-' + lang + '.value', '')
            a(href='video?subject=' + subjects[4].get('name-' + lang + '.value', ''))
                .teema.col-md-3.sm
                    .front
                        table
                            tr
                                td
                                    h3= subjects[4].get('name-' + lang + '.value', '')
            a(href='video?subject=' + subjects[5].get('name-' + lang + '.value', ''))
                .teema.col-md-4.md
                    .front
                        table
                            tr
                                td
                                    h3= subjects[5].get('name-' + lang + '.value', '')
            a(href='video?subject=' + subjects[6].get('name-' + lang + '.value', ''))
                .teema.col-md-4.md
                    .front
                        table
                            tr
                                td
                                    h3= subjects[6].get('name-' + lang + '.value', '')
            a(href='video?subject=' + subjects[7].get('name-' + lang + '.value', ''))
                .teema.col-md-4.md
                    .front
                        table
                            tr
                                td
                                    h3= subjects[7].get('name-' + lang + '.value', '')
//- .container-fluid.cta.white-cta
//-     .container
//-         a.btn(href='#')
//-             | Vaata kõiki märksõnu
