#toetajad
.container-fluid.toetajad
    .row.header
        .container
            .text.center
                h2= G.partners
    .list
        .container
            .row
                .col-md-12
                    .tablediv
                        table.lg
                            tr
                                td
                                    each p in F.partners || []
                                        .col-md-4
                                            if p.displayinfo && p.displayinfo.indexOf('http') > -1
                                                a(href=p.displayinfo)= p.displayname
                                            else
                                                a= p.displayname


            #bottom-table.row
                .col-md-4
                    table.md
                        tr
                            td
                                h3= G.sponsors
                        each s in F.sponsors || []
                            tr
                                td
                                    if s.displayinfo && s.displayinfo.indexOf('http') > -1
                                        a(href=s.displayinfo)= s.displayname
                                    else
                                        a= s.displayname
                .col-md-8
                    table.md
                        tr
                            td
                                h3= G.thanksTo
                        tr
                            td
                                b= G.teamMembers
                                each t in F.team || []
                                    | &nbsp;
                                    if t.displayinfo && t.displayinfo.indexOf('http') > -1
                                        a(href=t.displayinfo)= t.displayname
                                    else
                                        a= t.displayname
                                    | ,
                                |  jt.
                        tr
                            td
                                b= G.supporters
                                each t in F.thanks || []
                                    | &nbsp;
                                    if t.displayinfo && t.displayinfo.indexOf('http') > -1
                                        a(href=t.displayinfo)= t.displayname
                                    else
                                        a= t.displayname
                                    | ,
                                |  jt.
                    table.md
                        tr
                            td
                                h3= G.producer
                            td
                                h3= G.coProducer
                        tr
                            td
                                each t in F.producers || []
                                    if t.displayinfo && t.displayinfo.indexOf('http') > -1
                                        a(href=t.displayinfo)= t.displayname
                                    else
                                        a= t.displayname
                                    br
                            td
                                each t in F.coProducers || []
                                    if t.displayinfo && t.displayinfo.indexOf('http') > -1
                                        a(href=t.displayinfo)= t.displayname
                                    else
                                        a= t.displayname
                                    br
    .container
        .row.unitas
            .col-md-2
                a(href='http://unitas.ee', target='_blank')
                    img.img-responsive(src='/assets/img/unitas+logo.jpg')
            .col-md-10
                +markdown(G.unitasInfo)
