extends /layout


block vars
    -
        var videos_url = self.menu[0].path


block script
    script.
        var hideMapLabels = true

        $(function () {
            search = location.search.substr(1).split('&')
            var searchObj = {};
            for (i = 0; i < search.length; i++) {
                thing = search[i].split('=')
                searchObj[thing[0]] = thing[1]
            }

            if (searchObj.t) {
                var src = $('iframe#video').attr('src').replace('t=0&', 't=' + searchObj.t + '&')
                $('iframe#video').attr('src', src)
            }
        })


block content
    include /searchbox

    #map-items.hidden
        if self.region
            each r in self.region
                .map-item(data-lat=r.lat, data-lng=r.lng,
                          data-path='/' + self.locale + '/' + self.path + '?' + ('time' in r ? r.time.replace(':','h').replace(':','m')+'s' : '0s'),
                          data-img='/assets/images/' + self.path + '.jpg',
                          data-title=self['title_' + self.locale],
                          data-subtitle=self['subtitle_' + self.locale])

    main.main.has-sidebar.u-container
        .content
            article.article
                .u-content
                    .video-wrapper
                        iframe#video(src='https://player.vimeo.com/video/' + self.videoUrl + '#t=0&autopause=1&autoplay=0&badge=0&byline=0&loop=0&portrait=0&title=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                    h1= self['title_' + self.locale]
                    p
                        b= self['subtitle_' + self.locale]
                    p= self['description_' + self.locale]

                footer
                    ul.details
                        if self.storyteller
                            li Storyteller
                                = ' '
                                each a in self.storyteller
                                    a(href= videos_url + '#' + self._persons.filter((p) => p._id === a).map((p) => p._id)[0])
                                        b= self._persons.filter((p) => p._id === a).map((p) => p.forename + ' ' + p.surname)[0]

                        if self.author
                            li Author
                                = ' '
                                each a in self.author
                                    a(href= videos_url + '#' + self._persons.filter((p) => p._id === a).map((p) => p._id)[0])
                                        b= self._persons.filter((p) => p._id === a).map((p) => p.forename + ' ' + p.surname)[0]

                        li
                            a(href='') Seotud tunnikava
                                = ' '
                                b Etiam Parturient

                    div.tags
                        ul.tags--list
                            li
                                a(href='') Heino Noor
                            li
                                a.u-red(href='') Quam Cras
                            li
                                a.u-purple(href='') Euismod
                            li
                                a.u-green(href='') Ipsum Commodo
                            li
                                a.u-orange(href='') Parturient
                            li
                                a.u-blue(href='') Parturient
                        a(href='') Näita kõiki (54)

            include /map
            +map(false)

        aside.sidebar
            section.videos--related
                h2 Seotud videod
                article.videos--item(style='background-image:url(images/data/ruth.png)')
                    a(href='video-detail.html')
                        .text
                            h3
                                span Ruth Sootaru (Pärntits)
                            p Täispikk intervjuu

                article.videos--item(style='background-image:url(images/data/kalju.png)')
                    a(href='video-detail.html')
                        .text
                            h3
                                span Kalju Mätik
                            p Nõukogudeaegne vastupanuliikumine ja selle mahasurumise meetodid

                article.videos--item(style='background-image:url(images/data/adam.png)')
                    a(href='video-detail.html')
                        .text
                            h3
                                span Adam Brown
                            p Eesti päritolu väärtustamine

                article.videos--item(style='background-image:url(images/data/sander.png)')
                    a(href='video-detail.html')
                        .text
                            h3
                                span Sander Tuul
                            p Videolugu

                article.videos--item(style='background-image:url(images/data/kaja.png)')
                    a(href='video-detail.html')
                        .text
                            h3
                                span Kaja Weeks

                article.videos--item(style='background-image:url(images/data/sale.png)')
                    a(href='video-detail.html')
                        .text
                            h3
                                span Sale Katrin Marits
                            p Täispikk intervjuu

                article.videos--item(style='background-image:url(images/data/viivianne.png)')
                    a(href='video-detail.html')
                        .text
                            h3
                                span Viivianne Vaike  Malmgren
                            p Usu roll küüditamise ja Siberi-aastate üleelamisel
