extends /layout


block vars
    -
        const videos = self.file.videos.map((a) => ({sort: Math.random(), value: a})).sort((a, b) => a.sort > b.sort ? 1 : -1).map((a) => a.value)


block content
    main.main
        .hero(style='background-image:url(/assets/images/' + videos[0].path + '.jpg)')
            a.main-post(href='/' + self.locale + '/' + videos[0].path)
                .text
                    h2= videos[0]['title_' + self.locale]
                    p= videos[0]['description_' + self.locale]
            .posts-list
                each v in videos.slice(1, 5)
                    a(href='/' + self.locale + '/' + v.path, style='background-image:url(/assets/images/' + v.path + '.jpg)')
                        h3= v['title_' + self.locale]
                        p= v['description_' + self.locale]

        include /searchbox

        include /map
        +map(true)

        section.section.materials
            .section--content.u-container
                h2.section--title Õppematerjalid
                .materials--list
                    .materials--item
                        h3.section--subtitle Ajalooõpe
                        p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.
                        a.btn.btn--default(href='materials.html') Loe lähemalt
                    .materials--item
                        h3.section--subtitle Inimõiguste õpe
                        p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.
                        a.btn.btn--default(href='materials.html') Loe lähemalt

        section#tutvustus.section.about
            .section--content.u-container
                h2.section--title ME KÕIK PÄRIME
                    strong OMA KULTUURI
                .u-content
                    p Igaühel meist on oma lugu ja oma roll teiste lugudes. Kõik me oleme kellegi lapsed ja mingi piirkonna elanikud, kõik me pärime oma kultuuri, kodukoha ja perekonna pärandi. Eesti lugu, kogu me lugu, moodustub erinevate Eesti inimeste lugudest.
                    p Need lood ei edasta minevikust täielikku pilti, vaid annavad seda edasi läbi rääkija objektiivi, mis võib olla vägagi erinev meie enda omast. Neid lugusid kuulates kogeme maailma teistsugusel, vahest harjumatul viisil. Pealtnäha olemegi erinevad, kordumatud. See, mis aga peitub igas inimeses sügaval sisimas, on meil ühine.
                    p Kogu Me Lugu on algatus koguda, uurida ja jagada Eesti perede lugusid. Algatuse raames kogutakse, talletatakse ja levitatakse Nõukogude ja Saksa okupatsioonide ajal Eestis elanud, nimetatud võimude eest Eestist põgenenud või nende tegevuse tulemusena Eestisse sattunud inimeste ning nende järeltulijate mälestusi ja elulugusid.
                    p Kogu Me Lugu projekti algataja oli 2008. aastal Tallinnas asutatud Sihtasutus Unitas, mis keskendus ajaloohariduse ja inimõiguste kultuuri arendamisele. Ta kuulus Euroopa Mälu ja Süüme Koostöökogu asutajaliikmete hulka ning tema eesmärk oli totalitaarsete režiimide ja ideoloogiate inimvaenulikkuse teadvustamine ja nende kuritegude rahvusvahelise hukkamõistmise taotlemine. 2017. aastal ühines Sihtasutus Unitas Eesti Mälu Instituudiga.
                    .intro
                        p Iga lugu on omapärane, samas osa suuremast loost. Iga lugu on Eesti lugu ja ühtlasi kogu inimkonna lugu.

        section.section.newsletter
            .section--content.u-container
                h2.section--title Liitu meie uudiskirjaga
                .newsletter--content
                    .u-content
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam suscipit nostrum obcaecati aliquam, et! Expedita quae, exercitationem ducimus mollitia error, perferendis eum delectus nesciunt debitis praesentium, id voluptas ipsam rem.
                    form.newsletter-form(action='')
                        .input
                            label(for='email') Sisesta oma e-maili aadress
                            input(type='email', id='email')
                        button.btn.btn--secondary(type='submit') Liitu uudiskirjaga

        section#tegijad.section
            .section--content.u-container
                .partners
                    h2.section--title Koostööpartnerid
                    ul.partners--list
                        each p in self.partners
                            li
                                a(href=p.url)= p.title
                .supporters
                    h3.section--subtitle SUURTOETAJAD
                    ul.supporters--list
                        each s in self.sponsors
                            li
                                a(href=s.url)= s.title
                                    if s.picture
                                        img(src='/assets/images/sponsors/' + s.picture, alt=s.title)
                .thanks
                    h3.section--subtitle TÄNUSÕNAD KAASTEGUTSEJATELE
                    .thanks--blocks
                        .thanks--block
                            h4 Meeskonnaliikmed
                            p
                                each t in self.team
                                    = t.title
                                    | ,
                                    |
                                | jt.
                        .thanks--block
                            h4 Toetajad ja hooandjad
                            p
                                each s in self.supporters
                                    = s.title
                                    | ,
                                    |
                                | jt.

                .producers
                    .producer
                        h4 Produtsent
                        p SA Unitas
                    .producer
                        h4 Kaasprodutsent
                        p Meelis Niinepuu
        section#toeta.section.donate
            .section--content.u-container
                .donate--content
                    h2.section--title Sinu panus loeb, <strong>toeta algatust!</strong>
                    .u-content
                        p Tänu Sinu rahalisele panusele on meil võimalik salvestada lugusid, mis rikastavad ja elavdavad Eesti kogukonda. Samuti on Sinu rahaline toetus abiks Kogu Me Lugu portaali haldamisel ja arendamisel.
                        p Kogu Me Lugu on võimalik toetada nii ühekordse maksega kui püsikorraldusega Sihtasutuse Unitas kontole. Ühekordse makse puhul kasuta allolevaid makselinke või ülekannet SA Unitas pangakontole. Püsikorralduse saab vormistada SA Unitas pangakontole. Konto andmed on nähtaval allpool.
                        p SA Unitas kuulub Vabariigi Valitsuse tulumaksusoodustusega ühenduste nimekirja, seega on eraisikute poolt tehtud annetuste pealt võimalik tagasi saada tulumaks. Juriidilistele isikutele on sihtasutusele tehtavad annetused samuti maksuvabad. Mõlemale kehtivad maksuvabade annetuste osas tulumaksuseadusega seatud piirangud.
                        form.donation-form(action='')
                            .input
                                label(for='sum') Sisesta summa
                                input(type='number', id='sum')
                                span €
                            button.btn.btn--primary(type='submit') Toetan
                aside.donate--side
                    .box
                            img(src='/assets/images/data/EV100.png', alt='EV100', width='136')
                            p Löö kaasa Kogu Me Lugu Eesti Vabariik 100 kingiprojektis või toeta meid rahaliselt!
                            p
                                a(href='') Loe lähemalt

                    h3 Pangakonto andmed
                    ul
                        li
                            strong EE85 1010 2200 8178 2010
                            | BIC: EEUHEE2X
                        li
                            strong SEB PANK:
                            | Tornimäe 2, 15010, Tallinn, Eesti
                        li
                            strong Selgitus:
                            | Toetan Kogu Me Lugu
