extends /layout


block vars
    -
        const videos = self.file.videos.map((a) => ({sort: Math.random(), value: a})).sort((a, b) => a.sort > b.sort ? 1 : -1).map((a) => a.value)


block content
    main.main
        .hero(style='background-image:url(/assets/images/' + videos[0].path + '.jpg)')
            a.main-post(href='/' + self.locale + '/' + videos[0].path + '/')
                .text
                    h2= videos[0]['title_' + self.locale]
                    p= videos[0]['subtitle_' + self.locale]
            .posts-list
                each v in videos.slice(1, 5)
                    a(href='/' + self.locale + '/' + v.path + '/', style='background-image:url(/assets/images/' + v.path + '.jpg)')
                        h3= v['title_' + self.locale]
                        p= v['subtitle_' + self.locale]

        include /searchbox

        include /map
        +map(true)

        section.section.materials
            .section--content.u-container
                h2.section--title= self.texts.education.materials
                .materials--list
                    .materials--item
                        h3.section--subtitle= self.texts.education.history
                        p= self.texts.education.historyText
                        a.btn.btn--default(href=self.menu[2].path)= self.texts.education.findOutMore
                    .materials--item
                        h3.section--subtitle= self.texts.education.humanRights
                        p= self.texts.education.humanRightsText
                        a.btn.btn--default(href=self.menu[2].path)= self.texts.education.findOutMore

        section#tutvustus.section.about
            .section--content.u-container
                h2.section--title= self.texts.culture.title1
                    strong= self.texts.culture.title2
                .u-content
                    p= self.texts.culture.div1
                    p= self.texts.culture.div2
                    p= self.texts.culture.div3
                    .intro
                        p= self.texts.culture.div4

        section.section.newsletter
            .section--content.u-container
                h2.section--title= self.texts.mailingList.join
                .newsletter--content
                    .u-content
                        p= self.texts.mailingList.div1
                    form.newsletter-form(action='')
                        .input
                            label(for='email')= self.texts.mailingList.yourEmail
                            input(type='email', id='email')
                        button.btn.btn--secondary(type='submit')= self.texts.mailingList.joinButton

        section#tegijad.section
            .section--content.u-container
                .partners
                    h2.section--title= self.texts.partners
                    ul.partners--list
                        each p in self.partners
                            li
                                a(href=p.url)= p.title
                .supporters
                    h3.section--subtitle self.texts.financiers
                    ul.supporters--list
                        each s in self.sponsors
                            li
                                a(href=s.url)= s.title
                                    if s.picture
                                        img(src='/assets/images/sponsors/' + s.picture, alt=s.title)
                .thanks
                    h3.section--subtitle= self.texts.thanks4allTheFishAndSofa

        section#toeta.section.donate
            .section--content.u-container
                .donate--content
                    h2.section--title= self.texts.contribution.title1
                        strong= self.texts.contribution.title2
                    .u-content
                        p= self.texts.contribution.div1
                        p= self.texts.contribution.div2
                        if self.texts.contribution.div3
                            p= self.texts.contribution.div3

                        form.donation-form(action='https://payment.maksekeskus.ee/pay/1/link.html?shopId=23d7bb0e-3372-4644-8440-eb7bec5562b1&paymentId=Toetan+Kogu+Me+Lugu')
                            .input
                                label(for='sum')= self.texts.contribution.amount
                                input(type='number', id='amount', name='amount')
                                span €
                            button.btn.btn--primary(type='submit')= self.texts.contribution.submit
                aside.donate--side
                    .box
                            img(src='/assets/images/data/EV100.png', alt='EV100', width='136')
                            p= self.texts.contribution.participate
                            p
                                a(href='https://ev100.ee/et/kogu-me-lugu')= self.texts.contribution.findOutMore

                    h3 Pangakonto andmed
                    ul
                        li
                            strong IBAN:
                            | EE422200221039992298
                        li
                            strong BIC:
                            | HABAEE2X
                        li
                            strong Swedbank:
                            | Liivalaia 8, 15040 Tallinn, Estonia
                        li
                            strong= self.texts.contribution.descriptionLabel
                            |= self.texts.contribution.description
