extends /layout


block vars
    -
        const getList = (t) => {
            if (!t) {
                return []
            } else if (Array.isArray(t)) {
                return t
            } else {
                return [t]
            }
        }


block script
    script.
        if (window.location.hash.substr(1)) {
            $('article.videos--item').hide()
            $('.filter-item[data-id="' + window.location.hash.substr(1) + '"]').parent().show()
        }


block content
    include /searchbox

    main.main.u-container
        .videos
            each v in self.file.videos
                article.videos--item(style='background-image:url(/assets/images/' + v.path + '.jpg)')
                    a(href='/' + self.locale + '/' + v.path + '/')
                        .text
                            h2
                                span= v['title_' + self.locale]
                            p= v['subtitle_' + self.locale]

                    each t in getList(v.tag)
                        .filter-item.hidden(data-id=t._id)
                    each r in getList(v.regions)
                        .filter-item.hidden(data-id=r._id)
                    each a in getList(v.author)
                        .filter-item.hidden(data-id=a._id)
                    each s in getList(v.storyteller)
                        .filter-item.hidden(data-id=s._id)
